<div class="card bg-primary" fxLayout="row" fxLayout.xs="column">
  <div class="p-4 ml-4" fxFlex="none" fxFlexAlign="center">
    <img src="assets/img/illustrations/checklist.svg" style="height: 168px; width: 152px">
  </div>

  <div class="p-6 text-primary-contrast" fxFlex="auto">
    <h2 class="headline m-0">Buen día.</h2>
    <p class="caption m-0 opacity-40">Te presentamos informacion relevante que puede interesarte:</p>

    <div class="mt-4" fxLayout="row" fxLayoutAlign="start center">
      <ic-icon [icon]="icCheckCircle" class="mr-2" size="24px"></ic-icon>
      <span class="body-2 cursor-pointer">Acumulado semanal e ingresos del día.</span>
    </div>

    <div class="mt-1" fxLayout="row" fxLayoutAlign="start center">
      <ic-icon [icon]="icCheckCircle" class="mr-2" size="24px"></ic-icon>
      <span class="body-2 cursor-pointer">Comparativa de ingresos y transacciones realizadas por dispositivo.</span>
    </div>

    <div class="mt-1" fxLayout="row" fxLayoutAlign="start center">
      <ic-icon [icon]="icCheckCircle" class="mr-2" size="24px"></ic-icon>
      <span class="body-2 cursor-pointer">Historico del ingresos del mes</span>
    </div>
  </div>
</div>
