<form [formGroup]="form" (ngSubmit)="mtdclickActualizarPassword()">
    <div fxLayout="row" fxLayoutAlign="start center" mat-dialog-title>
      <h2 class="headline m-0" fxFlex="auto">Nueva contraseña</h2>
      <!-- Este es el boton de cerrar del popup -->
      <button class="text-secondary" mat-icon-button type="button" (click)="mtdclickCerrarVentana();">
      <mat-icon [icIcon]="icClose"></mat-icon>
      </button>
    </div>
    <mat-dialog-content fxLayout="column" style="min-height: fit-content; padding-bottom: 10px;">
      <div class="flex flex-col sm:flex-row" style="margin-top: 5px;">
        <mat-form-field class="mt-0 flex-auto mr-2">
          <mat-label>Nueva Contraseña</mat-label>
          <input [type]="inputType" #password matInput formControlName="Password" />
          <mat-icon
            [icIcon]="icPass"
            class="ltr:mr-3 rtl:ml-3"
            matPrefix
        ></mat-icon>
        <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Ver contraseña" type="button">
          <mat-icon *ngIf="visible"  class="mr-3"  matPrefix [icIcon]="icVisibility"></mat-icon>
          <mat-icon *ngIf="!visible" class="mr-3"  matPrefix [icIcon]="icVisibilityOff"></mat-icon>
        </button>
        <mat-error *ngIf="form.get('Password').hasError('pdwValid')">La contraseña debe de tener mínimo 8 caracteres en esos debe contener letras mayúsculas, minúsculas, números y caracteres *,!,$,%,?,+,etc..</mat-error>
        </mat-form-field>
        <!--mat-form-field class="mt-0 flex-auto">
          <mat-label>Confirmar Contraseña</mat-label>
          <input [type]="inputType" #strConfirmPassword matInput formControlName="strConfirmPassword" />
          <mat-icon
            [icIcon]="icPass"
            class="ltr:mr-3 rtl:ml-3"
            matPrefix
        ></mat-icon>
        <button (click)="toggleVisibility()" mat-icon-button matSuffix matTooltip="Ver contraseña" type="button">
          <mat-icon *ngIf="visible"  class="mr-3"  matPrefix [icIcon]="icVisibility"></mat-icon>
          <mat-icon *ngIf="!visible" class="mr-3"  matPrefix [icIcon]="icVisibilityOff"></mat-icon>
        </button>
        <mat-error *ngIf="form.get('strPassword').hasError('pdwValid')">La contraseña debe de tener mínimo 8 caracteres en esos debe contener letras mayúsculas, minúsculas, números y caracteres *,!,$,%,?,+,etc..</mat-error>
        <mat-error *ngIf="igualpassword">La contraseña no es igual.</mat-error>
        </mat-form-field-->
      </div>
      <hr/>
      <!--pre>
        Estado del formulario: {{ form.valid }}
        <br/>
        Status del formulario: {{ form.status }}
      </pre>
      <pre>
        {{ form.value | json }}
      </pre-->
    </mat-dialog-content>
    <div mat-dialog-actions>
        <button mat-button type="button" (click)="mtdclickCerrarVentana();">CANCELAR</button>
        <button type="submit" color="primary" mat-button [disabled]="form.invalid">ACTUALIZAR</button>
    </div>
  </form>
  