.circulo {
	width: 7rem;
	height: 7rem;
	border-radius: 50%;
	background:#494b74;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;
  	margin:0px auto;
  	padding:3%
}

.circulo > h2 {
	font-family: sans-serif;
	color: white;
	font-size: 1.2rem;
	font-weight: bold;
}