mat-grid-tile {
    background: lightblue;
}

.text-inside-grid {
    text-align: center;
}

.mat-grid-tile {
    border: solid 1px #000;
}

table {
    width: 100%;
}

.tbResumen td {
    cursor: pointer;
}